<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - Corners</title>
    {% include "components/scripts.html" %}
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/notificationsPanel.html" %}
    <div class="cafe-main-body">
        {% include "components/sidebar.html" %}
        <div class="cafe-video-list-body">
            {% if username %}
                <div class="cafe-video-list-contents-liked-videos">
                    <p class="cafe-video-list-title">cafeCorners</p>
                    <h1>You are not part of a cafeCorner</h1>
                    <h2>Create one and it will be displayed here.</h2>
                </div>
            {% endif %}
        </div>
    </div>
<!-- Rename to cafeChannels -->
</body>
</html>